
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Kendi View</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Ad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>ID</td>
        <td>Ad</td>
        <td>Departman</td>
    </tr>
    <tr>
        <td>ID</td>
        <td>Ad</td>
        <td>Departman</td>
    </tr>
</table>

